.popup__close {
  width: 26px;
  position: absolute;
  top: -26px;
  right: -26px;
  cursor: pointer;
}

.popup-image-close {
  width: 26px;
  cursor: pointer;
  align-self: flex-start;
  padding-top: 150px;
}